/*---------page_style---------*/
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}

/*---------main_block---------*/
#main_block {
    width: 70%;
    height: 94%;
    position: fixed;
    top: 3%;
    left: 15%;
    border-radius: 50px;
    background-color: #E8F0F6;
}

/*--------title_style---------*/
.title {
    position: absolute;
    left: 50%;
    width: 900px;
    text-transform: uppercase;
    margin: 0 0 0 -450px;
    text-align: center;
    color: #0a0e23;
    font-weight: 900;
    font-style: italic;
    z-index: 2;
    -webkit-text-stroke: 1px black;
    font-size: 60px;
}

/*------------menu------------*/
#readme {
    width: 30px;
    height: 40px;
    position: absolute;
    margin: 10px 0 0 30px;
}

/*--------buttons_style-------*/
input[type="file"] {
    display: none;
}
.custom_file_upload {
    position: inherit;
    padding: 20px;
    margin-left: 100px;
    text-transform: uppercase;
    width: 220px;
    color: #0a0e23;
    border-radius: 30px;
    text-align:center;
}
.document {
    top: 30%;
    background-color: rgba(232,176,255,.7);
}
.template {
    top: 50%;
    background-color: rgba(81,90,218,.7);
}
.document:hover, .template:hover {
    color: #0a0e23;
    background-color: white;
    border: 2px #0a0e23 solid;
}
.compare:hover {
    border: 3px #0a0e23 solid;
    height: 90px;
    width: 90px;
    border-radius: 45px;
}
.compare {
    background-image: url("https://img.icons8.com/dotty/80/000000/compare.png");
    background-repeat: no-repeat;
    padding-left: -5px;
    height: 85px;
    width: 85px;
    border-radius: 42px;
    border: 2px #0a0e23 solid;
    margin: 38% 0 0 13%;
}

/*-----------report-----------*/
#report {
    width: 30%;
    height: 73%;
    position: fixed;
    top: 13%;
    left: 48%;
    border-radius: 50px;
    background-color: #ffffff;
    border: 3px groove #DBDBDB;
    padding: 30px;
    font-size: 20px;
    word-wrap: break-word;
    overflow: scroll;
}

